*{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: black;
}
.menubar{
    display: flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: 0;
}
.menubar a{
    color: white;
    
}